.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  display: flex;
  color: var(--green);
  padding: 1rem;
  justify-content: center;
}

.app-container h2 {
  display: flex;
  color: var(--green);
  padding: 1rem;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  padding-right: 10px;
}

.link-one {
  padding-right: 10px;
}

.link-two {
  padding-right: 10px;
}

.reg-form-elem {
  display: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  /* max-width: 100%; */
  padding: 2px;
  flex-direction: row;

  /* justify-content: center; */
  border-top: 2px solid black;
  color: green;
  position: static;
}
