/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-image: url(/assets/website-photo-two.jpeg);
}
